body {
    background : -moz-linear-gradient(top,#f5f7fa , #c3cfe2);
    min-height: 700px;
}

.request-to-sender {
    background-color: rgb(212, 46, 46);
    border-width: 3px;
    border-style: solid;
    padding: 10px;
}

.btn-success, .btn-danger, .btn-warning {
    box-shadow: 1px 2px 5px #000000;
}

#page-tittle {
    padding: 6px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-counter {
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
}

.card-counter:hover {
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}

.card-counter.time {
    background-color:#f9ca24;
    color: #FFF;
}

.card-counter.fund {
    background-color: #686de0;
    color: #FFF;
}

.card-counter.require-fund {
    background-color: #6ab04c;
    color: #FFF;
}

.card-counter i {
    font-size: 4em;
    opacity: 0.2;
}
/* sửa các biến trong thẻ i của class card-counter*/

.card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
}

.card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}

.margintop20 {
    margin-top: 20px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.active2 {
    border-right: 4px solid #428bca;
}